<form #transactionForm="ngForm" (ngSubmit)="updateTransaction(transactionForm)" class="form-horizontal">
  <div class="form-group">
    <label class="control-label col-sm-2">ID</label>
    <div class="col-sm-10">
      <input
        type="text"
        [value]="this.transaction?.id"
        readonly
        class="form-control"
      />
    </div>
  </div>

  <div class="form-group">
    <label class="control-label col-sm-2">Date</label>
    <div class="col-sm-10">
      <input
        type="text"
        [value]="this.dateConversionService.convertTimestampToDate(this.transaction.date)"
        readonly
        class="form-control"
      />
    </div>
  </div>

  <div class="form-group" [ngClass]="{'has-error': comments.invalid && (comments.dirty || comments.touched)}">
    <label for="comments" class="control-label col-sm-2">Comments</label>
    <div class="col-sm-10">
      <input
        type="text"
        [(ngModel)]="this.transaction.Comments"
        id="comments"
        name="comments"
        required
        pattern="[a-zA-Z0-9 ]*"
        class="form-control"
        #comments="ngModel"
      />
      <div *ngIf="comments.invalid && (comments.dirty || comments.touched)" class="help-block">
        <div *ngIf="comments.errors?.required">Comments are required.</div>
        <div *ngIf="comments.errors?.pattern">Only alphanumeric characters are allowed.</div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary" [disabled]="transactionForm.invalid">Save</button>
      <button
        type="button"
        (click)="router.navigate(['/transactions'])"
        class="btn btn-secondary"
      >
        Back
      </button>
    </div>
  </div>
</form>
