<section class="main">
  @if (!isTransactionDetailShowing){

  <table
    class="table table-accessible"
    aria-labelledby="transactionTableHeading"
  >
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Date</th>
        <th scope="col">Comments</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (transaction of transactions; track transaction.id) {
      <tr>
        <td>{{ transaction.id }}</td>
        <td>{{ transaction.date }}</td>
        <td>{{ transaction.Comments }}</td>
        <td>
          <a (click)="viewDetails(transaction.id)">View</a>
        </td>
      </tr>
      }
    </tbody>
  </table>
  } @else {<app-transaction-detail
    [trans_id]="selectedTransactionId"
    (closeDetail)="onCloseDetail()"
  />}
</section>
